main{
    max-width: 1440px;
    margin: 50px auto;
}
main h1{
    text-align: center;
    max-width: max-content;
    background-color: tomato;
    margin: 0 auto;
    margin-bottom: 20px;
}

.row{
    height: 400px;
    display: flex;
    /* flex: 1; */
    gap: 5px;
    margin-bottom: 5px;
}

.row > div{
    flex: 1;
}

.row img{
 width: 100%;
 height: 100%;
}

.vertical-gallery img{
    height: calc( (100% - 5px)/2 ) ;
}
